<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="assets/images/checklogo.png" width="100" height="30" class="d-inline-block align-top mr-2" alt=""></a>                                                
        </div>
        <div class="card forgot-pass">
            <div class="body">
                <p class="lead mb-3"><strong>Oops</strong>,<br> forgot something?</p>
                <p>Type email to recover password.</p>
                <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                    <div class="form-group">                                    
                        <input type="password" class="form-control round" id="signup-password" placeholder="Password">
                    </div>
                    <button type="submit" [hidden]="disabled" class="btn btn-round btn-primary btn-lg btn-block">RESET PASSWORD</button>
                    <button type="button" [hidden]="!disabled" class="btn btn-primary btn-round btn-block" disabled="disabled"><i class="fa fa-spinner fa-spin"></i> <span>Loading...</span></button>
                    <div class="bottom">
                        <span type="submit" class="helper-text">Know your password? <a routerLink="/login">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
